html {
    font-family: monospace;
}

#notificaciones {
    position: fixed;
    top: 20px;
    right: 20px;
}

.notificacion {
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    min-width: 200px;
    opacity: 0;
    transform: translateX(100%);
    transition: 0.5s;
}

.notificacion.show {
    opacity: 1;
    transform: translateX(0);
}

.exito {background: skyblue;}
.error {background: red;}